{% extends 'landing/base.html' %} {% load bootstrap4 %} {% load static%} {% block content %}
<div class="container-fluid landing">
    <div class="text-center intro">
        <h2 class="bet animated fadeInLeft">Artistic World</h2>
        <hr class="style-three">
        <p class="para"><span class="animated zoomInRight">Imagine having the best art around your hood and had the chance to</span><span class="animated zoomInRight" style="animation-delay: 2s;"> post anywhere where the world can see it and event have a comment on it.</span>
            <span class="animated zoomInRight" style="animation-delay: 3s;">Like it and even follow you to know more about the art.</span>
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>

    </div>
</div>

{% endblock %}