
{% extends 'base.html' %}{% load bootstrap4 %} {% load crispy_forms_tags %} {% block content %}
<div class="container-fluid" style="margin-top: 10%; margin-bottom:5%;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 bg-white poster">
            <h3 class="text-center tt " style='margin-top:4%;'>Add Your Art</h3>
            <hr>
            <div class="poster">
                <form action="" method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %} {{ form|crispy }}

                    <br><button type="submit" class="btn btn-sm btn-info "> Post</button>
                </form><br>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
{% endblock %}