{% load static %}{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {% if title %}
    <title>{{title}}</title>{% else %}
    <title>Creative || Hub</title>
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="{% static '/images/cropped-graffik_logo_favicon.ico' %}"> {% block styles %} {% bootstrap_css %}

    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}
</head>

<body>
    {% block content %}{% endblock %}

</body>

</html>
